In [2]:
import pandas as pd

In [23]:
df = pd.read_csv("police.csv") #loading csv file

In [44]:
df

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [25]:
df.columns

Index(['stop_date', 'stop_time', 'county_name', 'driver_gender',
       'driver_age_raw', 'driver_age', 'driver_race', 'violation_raw',
       'violation', 'search_conducted', 'search_type', 'stop_outcome',
       'is_arrested', 'stop_duration', 'drugs_related_stop'],
      dtype='object')

In [43]:
data=pd.DataFrame(df[[ 'driver_gender','driver_age', 'driver_race','violation', 'search_conducted', 'search_type', 'stop_outcome','is_arrested',  'drugs_related_stop']])
# removing unwanted columns

In [27]:
data

,driver_gender,driver_age,driver_race,violation,search_conducted,search_type,stop_outcome,is_arrested,drugs_related_stop
0,M,20.0,White,Speeding,False,NaN,Citation,False,False
1,M,40.0,White,Speeding,False,NaN,Citation,False,False
2,M,33.0,White,Speeding,False,NaN,Citation,False,False
3,M,19.0,White,Other,False,NaN,Arrest Driver,True,False
4,F,21.0,White,Speeding,False,NaN,Citation,False,False
...,...,...,...,...,...,...,...,...,...
91736,M,29.0,White,Speeding,False,NaN,Warning,False,False
91737,F,33.0,White,Equipment,False,NaN,Warning,False,False
91738,M,23.0,White,Moving violation,False,NaN,Warning,False,False
91739,M,22.0,White,Speeding,False,NaN,Citation,False,False
91740,M,56.0,Hispanic,Speeding,False,NaN,Citation,False,False

In [28]:
data.shape

(91741, 9)

In [29]:
data.describe()

         driver_age
count  86120.000000
mean      34.011333
std       12.738564
min       15.000000
25%       23.000000
50%       31.000000
75%       43.000000
max       99.000000

In [30]:
data.isnull().sum()    # finding total null values in each column

driver_gender          5335
driver_age             5621
driver_race            5333
violation              5333
search_conducted          0
search_type           88545
stop_outcome           5333
is_arrested            5333
drugs_related_stop        0
dtype: int64

In [31]:
data.driver_age.mode()
# mode gives most repeted values
# this also specify age group who have commited most crimes

0    22.0
dtype: float64

In [32]:
data.driver_race.value_counts()
#diversity of people of different races stopped.

White       62158
Black       12244
Hispanic     9507
Asian        2259
Other         240
Name: driver_race, dtype: int64

In [33]:
data.search_conducted.sum()

3196

In [34]:
data.search_type.value_counts()   # causes for vehicle pullover

Incident to Arrest                                          1219
Probable Cause                                               891
Inventory                                                    220
Reasonable Suspicion                                         197
Protective Frisk                                             161
Incident to Arrest,Inventory                                 129
Incident to Arrest,Probable Cause                            106
Probable Cause,Reasonable Suspicion                           75
Incident to Arrest,Inventory,Probable Cause                   34
Incident to Arrest,Protective Frisk                           33
Probable Cause,Protective Frisk                               33
Inventory,Probable Cause                                      22
Incident to Arrest,Reasonable Suspicion                       13
Incident to Arrest,Inventory,Protective Frisk                 11
Inventory,Protective Frisk                                    11
Protective Frisk,Reasonable Suspicion                         11
Incident to Arrest,Probable Cause,Protective Frisk            10
Incident to Arrest,Probable Cause,Reasonable Suspicion         6
Incident to Arrest,Inventory,Reasonable Suspicion              4
Inventory,Reasonable Suspicion                                 4
Inventory,Probable Cause,Protective Frisk                      2
Inventory,Probable Cause,Reasonable Suspicion                  2
Probable Cause,Protective Frisk,Reasonable Suspicion           1
Incident to Arrest,Protective Frisk,Reasonable Suspicion       1
Name: search_type, dtype: int64

In [35]:
data.is_arrested.sum()  # people arrested by police during pullover

2929

In [36]:
data.stop_outcome.value_counts()  #other outcomes of pullover

Citation            77006
Warning              5294
Arrest Driver        2571
N/D                   590
No Action             589
Arrest Passenger      358
Name: stop_outcome, dtype: int64

In [37]:
data.violation.value_counts()

Speeding               48463
Moving violation       16224
Equipment              11020
Other                   4317
Registration/plates     3432
Seat belt               2952
Name: violation, dtype: int64

In [38]:
data.drugs_related_stop.sum()

815

In [39]:
data.driver_age.min()  # finding lowest age of drivers

15.0

In [40]:
data[data.driver_age==data.driver_age.min()]  
#number of times underage drivers caught

,driver_gender,driver_age,driver_race,violation,search_conducted,search_type,stop_outcome,is_arrested,drugs_related_stop
10500,M,15.0,Black,Moving violation,False,NaN,Arrest Driver,True,False
17771,M,15.0,White,Speeding,False,NaN,Citation,False,False
18357,F,15.0,White,Moving violation,False,NaN,Arrest Driver,True,False
25294,M,15.0,Hispanic,Moving violation,True,Incident to Arrest,Arrest Driver,True,False
45988,F,15.0,White,Moving violation,False,NaN,Citation,False,False

In [41]:
data[(data.drugs_related_stop) & (data.driver_age >= data.driver_age.min())]

,driver_gender,driver_age,driver_race,violation,search_conducted,search_type,stop_outcome,is_arrested,drugs_related_stop
40,M,17.0,White,Equipment,True,Probable Cause,Arrest Driver,True,True
41,M,17.0,White,Equipment,True,Probable Cause,Citation,False,True
118,M,49.0,White,Moving violation,True,Incident to Arrest,Arrest Driver,True,True
139,M,25.0,Black,Equipment,True,"Probable Cause,Reasonable Suspicion",Arrest Driver,True,True
219,M,19.0,White,Other,True,Probable Cause,Arrest Passenger,True,True
...,...,...,...,...,...,...,...,...,...
91194,M,24.0,Hispanic,Moving violation,True,Inventory,Citation,False,True
91253,M,22.0,Hispanic,Speeding,True,Protective Frisk,Citation,False,True
91284,M,39.0,White,Moving violation,True,Probable Cause,Arrest Passenger,True,True
91672,F,19.0,White,Other,True,Incident to Arrest,Citation,False,True
91700,F,28.0,Hispanic,Speeding,True,"Probable Cause,Reasonable Suspicion",Citation,False,True

In [42]:
data.driver_age.mean()

34.011333023687875